/* generales */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  padding: 10px 0;
}

ul {
  list-style: none;
  gap: 15px;
  padding-right: 100px;
  margin: 0;
}

ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #000;
  padding: 5px;
  border-radius: 15px;
  background-color: #7bd4ea;
  width: 100px;
}

main {
  padding-top: 56px
}

video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-100;
  padding: 0;
}

/* clases */
.spanNav {
  font-size: 1.2rem;
  padding-left: 100px;
}

.section1 {
  display: flex;
  justify-content: center;
  padding-top: 56px;
}

.about {
  background-color: #7bd4ea9d;
  width: 40%;
  padding: 30px;
  border-radius: 15px;
}


